<!DOCTYPE html>


{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приложение для дел</title>
    <link rel="shortcut icon" href="{% static 'icon'}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div django-app="TaskManages">
        <nav class="navbar is-success" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="../category" class="navbar-item">Категории</a>
                    <a href="../todo" class="navbar-item">Список дел</a>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>